* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.brand img {
  height: 30px;
  width: auto;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  position: relative;
  padding-bottom: 5px;
  transition: color 0.3s;
}

.menu .icon {
  display: flex;
  list-style-type: none;
  gap: 10px;
}

.menu a:hover {
  color: #29abe2;
}


.menu a:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 100%;
  background-color: #29abe2;
  border-radius: 5px;
}
